@font-face {
  font-family: 'GT-America';

  font-weight: 700;
  font-style: normal;
  src: url('/fonts/GT-America-Standard-Bold-Trial.eot');
  src: local('☺'), url('/fonts/GT-America-Standard-Bold-Trial.woff') format('woff'),
    url('/fonts/GT-America-Standard-Bold-Trial.ttf') format('truetype'),
    url('/fonts/GT-America-Standard-Bold-Trial.svg') format('svg');
}
@font-face {
  font-family: 'GT-America';

  font-weight: 300;
  font-style: normal;
  src: url('/fonts/GT-America-Standard-Light-Trial.eot');
  src: local('☺'), url('/fonts/GT-America-Standard-Light-Trial.woff') format('woff'),
    url('/fonts/GT-America-Standard-Light-Trial.ttf') format('truetype'),
    url('/fonts/GT-America-Standard-Light-Trial.svg') format('svg');
}

@font-face {
  font-family: 'GT-America';

  font-weight: 500;
  font-style: normal;
  src: url('/fonts/GT-America-Standard-Medium-Trial.eot');
  src: local('☺'), url('/fonts/GT-America-Standard-Medium-Trial.woff') format('woff'),
    url('/fonts/GT-America-Standard-Medium-Trial.ttf') format('truetype'),
    url('/fonts/GT-America-Standard-Medium-Trial.svg') format('svg');
}
@font-face {
  font-family: 'GT-America';

  font-weight: 400;
  font-style: normal;
  src: url('/fonts/GT-America-Standard-Regular-Trial.eot');
  src: local('☺'), url('/fonts/GT-America-Standard-Regular-Trial.woff') format('woff'),
    url('/fonts/GT-America-Standard-Regular-Trial.ttf') format('truetype'),
    url('/fonts/GT-America-Standard-Regular-Trial.svg') format('svg');
}

@font-face {
  font-family: 'LaPontaiseChampion';

  font-weight: normal;
  font-style: normal;
  src: url('/fonts/LaPontaiseChampion-Regular.eot');
  src: local('☺'), url('/fonts/LaPontaiseChampion-Regular.woff') format('woff'),
    url('/fonts/LaPontaiseChampion-Regular.ttf') format('truetype'),
    url('/fonts/LaPontaiseChampion-Regular.svg') format('svg');
}
