@import 'styles/config';

.title {
  display: flex;
  justify-content: space-between;

  padding-top: 87px;

  padding-bottom: 25px;

  border-bottom: 1px solid rgba(88, 88, 88, 0.6);

  @media (max-width: $min-tablet) {
    flex-direction: column;
    gap: 26px;
  }

  button {
    background: rgba($white, 0.06);
  }
}

.pictures {
  display: flex;
  row-gap: 12px;

  margin-top: 160px;
  margin-left: auto;
  padding-bottom: 50px;
  // margin-bottom: 150px;
  max-width: 1260px;
  overflow: hidden;

  @media (max-width: 1260px) {
    width: 100%;
    max-width: unset;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;

      background: rgba($white, 0.8);
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;

      background: rgba($grey, 0.8);
    }
  }

  &__img {
    position: relative;

    padding-right: 11px;

    width: 100%;
    min-width: 105px !important;
    overflow: hidden;

    object-fit: cover;
    object-position: top;

    cursor: pointer;

    transition: all 1s ease-in-out;

    &:hover {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    > img {
      position: relative;

      height: 294px;

      object-fit: cover;
      object-position: center;

      transition: z-index 1s;
    }

    &.selected {
      min-width: 300px !important;
    }
  }
}

.empty {
  height: 150px;

  background-color: $dark;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  padding-bottom: 294px;

  &__title {
    display: flex;
    justify-content: space-between;

    width: 100%;

    @media (max-width: $min-tablet) {
      flex-direction: column;
      gap: 15px;
    }
  }

  > img {
    height: auto;
    max-height: 700px;

    object-fit: cover;
    object-position: top;

    @media (max-width: $min-tablet) {
      width: 100%;
    }
  }
}
